body {
    margin: 0;
}

ul {
    list-style: none; /* gets rid of bullets */
    display: flex;
    background-color: black;
    margin: 0;
    padding: 10px 0px;
    justify-content: flex-end;
}

li a {
    text-decoration: none; /* gets rid of underline */
    color: white;
    padding: 10px 30px; /* first val: top/bottom, second val: left/right */
    
}

li a:hover {
    background-color: darkslategray;
    transition: color 5s;
}

li a:active {
    background-color: white;
    color: black;
}

@media screen and (max-width: 800px){
    body {
        background-color: green;
    }
    ul {
        flex-direction: column;
    }
    li {
        padding: 5px;
        justify-content: flex-start;
    }
    li a {
        padding-right: 80vw;
    }
    li a:hover {
        background-color: red;
    }
}